name: Odoo 19

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  integration-test:
    uses: ./.github/workflows/integration-test.yml
    with:
      odoo-version: "19"
      docker-profile: "--profile odoo19"
      port: "8019"
